<footer class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
          <a href="http://www.wlu.edu"><img src="https://omeka.wlu.edu/specialcollections/themes/foundation-mkb/asset/img/wlu-logo-white-transbg.svg"></a>
      </div>
      <div class="col-8">
        <p class="align-middle">
          <a class="light-link link-footer" href="http://library.wlu.edu">Washington and Lee University Library</a> | 
          <a class="link-footer"href="https://library.wlu.edu/specialcollections">Special Collections and Archives</a>
        </p>
        <p class="align-middle">
          <a class="link-light link-footer" href="https://www.archivesspace.wlu.edu/">Finding Aids</a> |
          <a class="link-light link-footer" href="https://dspace.wlu.edu/">Digital Archive</a> | 
          <a class="link-light link-footer" href="{{site.url}}">Digital Editions</a>
        </p>
      </div>
    </div>
  </div>
</footer>