---
---

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
@import "variables";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons";


body {
	font-family: "Helvetica";
	font-size: 14pt;
}

header, nav {
	background-color: $wlu-blue !important;
	border-bottom: none;
	color: #fff;
}

header a:link, a:hover, a:visited {
	color:#fff;
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
	font-family: "Baskerville";
}

h1 {
	margin-top: 3rem;
	line-height: 2;
}

.accordion-header {
	font-family: "Helvetica";
}

.highlight {
	color: #d63384;
}
.row > .card {
	padding: 0px;
	width: 20rem;
	margin: 2rem;
}


footer {
	background-color: $wlu-blue;
	color: #0076aa;
	font-size: large;
	padding: 25px;
	width:100%;
	margin-top: 5rem;
}


footer img {
	max-width:60%;
}

.display-10 {
	font-size: 1.5rem;
}

.container-md {
	max-width: 1200px;
}

.navbar-brand {
	width:80%;
}

#navbarSupportedContent {
	width:20%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand img {
width: 30px;
}

.dropdown-item > a:link, a:visited {
 color:#000;
 text-decoration:none
}


a.link-footer  {
	color: #fff;
	text-decoration:none;
}

blockquote {
	font-family: "Baskerville";
	font-size: x-large;
	font-style: italic;
	margin-left: 7rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}


#blockquoteCitation {
	font-style: normal;
	font-size: medium;
}

#smallbrick {
	display:block;
	margin:auto;
	padding: 30px 0px 30px 0px;
}

tei-author::before {
	content: "Author: ";
	font-weight: bold;
}

tei-availability::before {
content: "Copyright: ";
font-weight: bold;
}

tei-editor::before {
	content: "Editor: ";
	font-weight: bold;
}
tei-title::before {
	content: "Title: ";
	font-weight: bold;
}
tei-publisher::before {
	content: "Publisher: ";
	font-weight: bold;
}

tei-body > tei-date::before {
	content: "Date: ";
	font-weight: bold;
}
tei-distributor::before {
	content: "Distributor: ";
	font-weight: bold;
}

tei-foreign {
	text-decoration:italic;
}

tei-pubPlace::before {
	content: "Place of Publication: ";
	font-weight: bold;
}

tei-idno[type="issn"]::before {
	content: "ISSN: ";
	font-weight: bold;
}

tei-idno[type="isbn"]::before {
	content: "ISBN: ";
	font-weight: bold;
}

#TEI .btn-info {
	content:"Note";
	background-color: #31d2f2;
  	border-radius: .25rem;
  	padding: 2px;
  	margin:0px 5px;
  	display:inline;
  	line-height:1.5;
}

.card-body {
	margin:1rem;
}
tei-note {
display: inline;
}
tei-note.card {
	display:block;
}

tei-resp[rend="bold"] {
	font-weight: bold;
}

tei-resp[rend="bold"]::after {
	content:":";
}